<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro de Consulta</h1>

    <form method="POST" action="/create">
        <input type="text" name="name" id="name" placeholder="Nome do paciente">
        <input type="email" name="email" id="email" placeholder="email@email.com">
        <input type="text" name="cpf" id="cpf" placeholder="CPF do cliente">
        <input type="text" name="description" id="description" placeholder="Descrição">
        <input type="date" name="date" id="date">
        <input type="time" name="time" id="time">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>